<div class="space"></div>
<!-- (load)="getdata()" -->
<div class="card" >
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Order Deatils</b></h4></div>
                    <div class="col align-self-center text-right text-muted">{{items}} items</div>
                </div>
            </div>    
            <div ngFor="let data of mydata">
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">itemsOrdered</div>
                            <div class="row">itemsOrdered</div>
                        </div>
                        <div class="col">
                            <a (click)="decrease()">-</a><a href="#" class="border">{{i}}</a><a (click)="increase()">+</a>
                        </div>
                        <div class="col">&dollar; itemsOrdered price <span class="close">&#10005;</span></div>
                    </div>
                </div>
            </div>
            <div class="back-to-shop"><a routerLink="/menu">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS data</div>
                <div class="col text-right">&dollar;; totalprice</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&dollar; 137.00</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>
    
</div>
<router-outlet></router-outlet>