<div class="space" ></div>
<div class="card" >
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Order Deatils</b></h4></div>
                    <div class="col align-self-center text-right text-muted">{{items}} items</div>
                </div>
            </div>    
            <div *ngFor="let data of item">
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="{{data.img}}"></div>
                        <div class="col">
                            <div class="row text-muted">{{data.name}}</div>
                            <div class="row desc">{{data.desc}}</div>
                        </div>
                        <div class="col">
                            <a (click)="updateItems('1',{{data.id}})"> - </a> <a class="border">{{data.numberOfItems}}</a> <a (click)="updateItems('1',{{data.id}})"> + </a>
                        </div>
                        <div class="col" >&dollar; {{data.price}} <span class="close">&#10005;</span></div>
                    </div>
                </div>
            </div>
            <div class="back-to-shop"><a routerLink="/items">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div >
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS data</div>
                <div class="col text-right">&dollar;{{totalprice}}</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&dollar; {{totalprice}}</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>
    
</div>
<router-outlet></router-outlet>