<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a class="logo">
                        <img class="logo" src="../../assets/images/logo.png" >
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="/" >Home</a></li>
                        <li class="scroll-to-section"><a routerLink="/">About</a></li>
                        <li class="scroll-to-section"><a routerLink="/items">Menu</a></li>
                        <li class="scroll-to-section"><a routerLink="/">logIN</a></li> 
                        <li class="scroll-to-section"><a routerLink="/">Contact Us</a></li> 
                    </ul>        
                    <a routerLink="/items" class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>